@font-face {
  font-family: 'Coiny';
  src:
    url('../assets//fonts/Coiny-Regular.woff2') format('woff2'),
    url('../assets/fonts/Coiny-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --system-ui:
    system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-color-main: #fff;
  --font-color-secondary: #d8e9f3;
  --font-color-main-dimmer: #ececec;
  --font-color-card-title: #c6e4f5;
  --placeholder-color: #f3f3f3;
  --drop-shadow: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.75));
  --drop-shadow-smooth: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.5));
  --drop-shadow-smoother: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.25));
  --button-selected-color: #ccdfeb;
}

body {
  min-height: 100vh;
  background-color: #333333;
  background-image: url('../assets/imgs/partly-cloudy-day-background.jpg');
  background-size: cover;
  font-family: var(--system-ui);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  color: var(--font-color-main);
}

.card {
  background-color: rgba(93, 101, 105, 0.35);
  backdrop-filter: blur(8px);
  border-radius: 16px;

  ::-webkit-scrollbar {
    height: 12px;
  }

  ::-webkit-scrollbar-track {
    background-color: rgba(200, 205, 210, 0.3);
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgb(200, 205, 210);
  }

  ::-webkit-scrollbar-track,
  ::-webkit-scrollbar-thumb {
    border-radius: 8px;
  }
}

.icon,
button {
  user-select: none;
}

button {
  cursor: pointer;
}

[text-wrap='off'] {
  text-wrap: nowrap;
}

[overflow='ellipsis'] {
  overflow: hidden;
  text-overflow: ellipsis;
}

#main-title {
  font-size: 3rem;
  font-weight: 600;
  padding: 16px 32px;
  border-radius: 8px;
  width: 100%;
  text-align: center;
  margin: 10px 0 20px 0;
  filter: var(--drop-shadow-smoother);

  display: flex;
  /* align-items: center; */
  justify-content: center;
  gap: 12px;

  .logo {
    width: 4.25rem;
  }

  div {
    font-family: 'Coiny', var(--system-ui);
    font-weight: 100;
  }
}

.container {
  max-width: 1300px;
}

#header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
  padding: 16px;
}

#location-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
  filter: var(--drop-shadow);
  justify-self: start;

  .current-location {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 1.2rem;
    line-height: 1.2rem;
    font-weight: 600;
    max-width: 32ch;
    text-transform: capitalize;
  }

  #query-form {
    display: flex;
    align-items: center;

    input {
      border: none;
      background-color: transparent;
      border-bottom: 2px solid white;
      outline: none;
      color: inherit;

      &::placeholder {
        color: var(--placeholder-color);
      }
    }

    button {
      outline: none;
      border: none;
      background-color: transparent;
    }

    .loading {
      margin-left: 10px;
      font-weight: 500;
    }
  }

  .error {
    color: #fff;
    max-width: 380px;
  }
}

#main-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  text-align: center;
  justify-self: center;
  filter: var(--drop-shadow-smooth);

  .wrapper {
    display: flex;
    align-items: center;
    gap: 16px;

    .icon {
      width: 5rem;
    }

    .temperature {
      font-size: 5rem;
    }
  }

  .feels-like {
    color: var(--font-color-secondary);
  }

  .conditions {
    max-width: 32ch;
    text-transform: capitalize;
  }
}

#settings {
  justify-self: end;
  display: flex;
  flex-direction: column;
  gap: 16px;
  filter: var(--drop-shadow-smoother);

  .setting {
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-size: 0.9rem;

    .label {
      font-weight: 500;
    }

    .options {
      display: flex;
      gap: 12px;

      button {
        outline: 2px solid transparent;
        border-radius: 4px;
        border: none;
        width: 10ch;
        color: #333333;

        &[selected] {
          background-color: var(--button-selected-color);
        }

        &:hover {
          outline-color: rgb(154, 177, 196);
        }
      }
    }
  }
}

.cards-section {
  flex: 1;
  display: grid;
  margin-top: 32px;
  /* grid-template-columns: 2fr 1fr 1fr 2fr;
  grid-template-rows: 1.5fr 1fr 1fr; */
  grid-template-columns: 1fr 180px 180px 1fr;
  grid-template-rows: 1fr 180px 180px;
  gap: 24px;

  .card {
    display: flex;
    flex-direction: column;
    /* gap: 32px; */
    padding: 16px;

    .title {
      text-transform: uppercase;
      font-weight: 600;
      color: var(--font-color-card-title);
      border-bottom: 1px solid #c6d9e252;
      padding-bottom: 2px;
    }
  }
}

#hourly-forecast {
  grid-column: 1 / -2;
  grid-row-start: 1;
  padding-bottom: 24px;
  /* max-width: 800px; */

  .title {
    margin-bottom: 32px;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    padding: 8px 16px;

    .today-info {
      .subtitle {
        font-size: 1.15rem;
        font-weight: 600;
        margin-bottom: 8px;
      }

      .min-max {
        margin-bottom: 16px;
      }

      .value,
      .temperature-unit {
        font-weight: 600;
      }
    }

    .hours {
      display: grid;
      grid-auto-flow: column;
      grid-template-rows: 1fr 2fr 2fr 1fr;
      grid-auto-columns: 50px;
      align-items: center;
      justify-items: center;
      gap: 0px 24px;
      overflow-x: scroll;
      font-size: 0.9rem;
      padding-bottom: 8px;

      .time {
        font-weight: 500;
      }

      .wrapper {
        display: flex;
        color: var(--font-color-secondary);
        font-size: 0.8rem;
      }

      .icon {
        width: 35px;
      }
    }
  }
}

#day-forecast {
  grid-row: 1 / -1;
  grid-column-start: -2;

  .title {
    margin-bottom: 32px;
  }

  .content {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr 2fr;
    grid-auto-rows: minmax(3rem, auto);
    gap: 8px;
    justify-items: center;
    align-items: center;

    .description {
      grid-row-start: 1;
      grid-column: 1 / -1;
      font-size: 0.95rem;
      padding: 0 32px;
    }

    .icon {
      width: 35px;
    }

    .value,
    .temperature-unit {
      font-weight: 600;
    }
  }
}

#precipitation {
  grid-column-start: 1;
  grid-row-start: 2;

  .content {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1.25fr 1.25fr;
    gap: 8px;
    align-items: center;
    justify-items: center;
    padding: 8px;
    font-size: 1.5rem;

    .icon {
      width: 70px;
    }

    .precip-level,
    .precip-prob {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .value {
      font-size: 2.25rem;
      font-weight: 600;
    }

    .feedback {
      color: var(--font-color-secondary);
      font-size: 1rem;
    }
  }
}

#wind {
  grid-column-start: 1;
  grid-row-start: 3;

  .content {
    display: flex;
    align-items: center;
    padding: 16px 32px;
    height: 100%;
    gap: 64px;
    font-size: 1rem;

    .wrapper {
      display: grid;
      grid-template-rows: 1fr 1fr 1fr;
      align-items: center;
      gap: 4px;
    }

    .value {
      font-size: 1.25rem;
    }

    .feedback {
      color: var(--font-color-secondary);
    }
  }

  .compass {
    border: 2px dashed #fff;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    .north {
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: sans-serif;
      font-size: 13px;
      line-height: 0;
      background-color: #fff;
      color: #7c7c7c;
      font-weight: 600;
      padding: 10px;
      position: absolute;
      border-radius: 50%;
      border: 1px solid white;
      left: 38%;
      top: -8px;
      width: 2ch;
      height: 2ch;
    }

    #arrow-icon {
      transform: rotate(0deg);
      width: 40px;
    }
  }
}

#humidity,
#pressure,
#sunrise-sunset,
#uv-index {
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
}

#sunrise-sunset {
  grid-column-start: 2;
  grid-row-start: 2;

  .content {
    gap: 8px;
    padding: 16px;

    .label {
      font-size: 0.9rem;
    }

    .value {
      font-size: 1.15rem;
      font-weight: 600;
    }
  }
}

#humidity {
  grid-column-start: 3;
  grid-row-start: 2;

  .content {
    align-items: center;

    .air-humidity {
      font-size: 1.5rem;
      .value {
        font-size: 2.5rem;
        font-weight: 600;
      }
    }

    .feedback {
      color: var(--font-color-secondary);
    }
  }
}

#pressure {
  grid-column-start: 2;
  grid-row-start: 3;

  .content {
    align-items: center;

    .air-pressure {
      font-size: 1.2rem;
      .value {
        font-size: 2rem;
        font-weight: 600;
      }
    }

    .feedback {
      color: var(--font-color-secondary);
    }
  }
}

#uv-index {
  grid-column-start: 3;
  grid-row-start: 3;

  .content {
    align-items: center;

    .value {
      font-size: 2rem;
      font-weight: 600;
    }

    .feedback {
      color: var(--font-color-secondary);
    }

    .meter {
      border-radius: 8px;
      width: calc(calc(11 * 10px) + 4px);
      background-color: #fff;
      height: 10px;
      padding: 2px;
      margin-top: 8px;

      .bar {
        border-radius: inherit;
        height: 100%;
        width: 0%;
        background-color: #fff;
      }
    }
  }
}

.footer {
  padding: 2px 0;
  margin: 20px 0 4px 0;

  a {
    text-decoration: none;
    color: inherit;
  }
}
